* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffa600;
}

h1 {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-top: 5%;
}

.time-container {
    text-align: center;
    margin-top: 4%;
    font-size: 25px;
    color: #fff;
}

.btn {
    width: 200px;
    height: 35px;
    margin: 0 auto;
    background-color: #ffa600;
    color: #fff;
    text-transform: uppercase;
    border: solid 1px #fff;
    border-radius: 5px;
}

.btn:hover {
    background-color: #fff;
    color: #ffa600;
    transition: 0.50s;
}

.btn-container {
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
}